<%= form_with(model: witness_year, local: true) do |form| %>
  <% if witness_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(witness_year.errors.count, "error") %> prohibited this witness_year from being saved:</h2>

      <ul>
      <% witness_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="control-label"><%= t 'shared.multiple_available_days' %></label>
  <div class="field">
    <%= t :available_day1, scope: [:shared] %>
    <%= form.check_box :available_day1 %>
  </div>
  <div class="field">
    <%= t :available_day2, scope: [:shared] %>
    <%= form.check_box :available_day2 %>
  </div>
  <div class="field">
    <%= t :available_day3, scope: [:shared] %>
    <%= form.check_box :available_day3 %>
  </div>
  <div class="field">
    <%= t :available_day4, scope: [:shared] %>
    <%= form.check_box :available_day4 %>
  </div>
  <div class="field">
    <%= t :available_day5, scope: [:shared] %>
    <%= form.check_box :available_day5 %>
  </div>
  <div class="field">
    <%= t :available_day6, scope: [:shared] %>
    <%= form.check_box :available_day6 %>
  </div>

  <label>זמינות (באילו שעות איש העדות פנוי)</label>
  <div class="field">
    <%= t :can_morning, scope: [:shared] %>
    <%= form.check_box :can_morning %>
  </div>
  <div class="field">
    <%= t :can_afternoon, scope: [:shared] %>
    <%= form.check_box :can_afternoon %>
  </div>
  <div class="field">
    <%= t :can_evening, scope: [:shared] %>
    <%= form.check_box :can_evening %>
  </div>


  <div class="field">
    <%= t :free_text %>
    <%= form.text_area :free_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
