<div class="col-xs-12" ng-controller="WitnessAssignController"
     ng-init="init(<%= @witness.to_json(:include => [:user, :country_region_city, :salon => {:include => [:user]}]) %>, <%= @salons.to_json(:include => [:user, :country_region_city]) %> )">
  <div class="row">
    <div class="col-xs-12" ng-if="success">
      <div class="alert alert-success" role="alert">
        ציוות בוצע בהצלחה
      </div>
    </div>

    <!-- Host view -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Host filters -->

        <form class="form-inline" name="hostFilter">
          <span><%= t 'shared.filter_by' %></span>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.country"
                    ng-options="o.country_name for o in countries | orderBy:'country_name'">
              <option value=""><%= t 'shared.country' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.region"
                    ng-options="o.region_name for o in search.host.country.regions | orderBy:'region_name'">
              <option value=""><%= t 'shared.region' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.city"
                    ng-options="o.city_name_he for o in search.host.region.cities | orderBy:'city_name_he'">
              <option value=""><%= t 'shared.city' %></option>
            </select>
          </div>

          <% if I18n.locale == :he %>
            <div class="form-group">
              <select class="form-control" ng-model="search.host.survivor_needed"
                      ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.needs' %>', v: true }, { n: '<%= t 'shared.doesnt_need' %>', v: false }]">
                <option value=""><%= t 'shared.survivor_needed' %></option>
              </select>
            </div>

            <div class="form-group">
              <select class="form-control" ng-model="search.has_survivor"
                      ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.teamed' %>', v: true }, { n: '<%= t 'shared.not_teamed' %>', v: false }

                    ]">
                <option value=""><%= t 'shared.has_survivor' %></option>
              </select>
            </div>
          <% end %>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.contacted"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
              <option value=""><%= t 'shared.host_contacted' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.event_language">
              <option value=""><%= t 'shared.event_language' %></option>
              <option value="hebrew">עברית</option>
              <option value="english">English</option>
              <option value="arabic">العربية</option>
              <option value="french">Français</option>
              <option value="russian">русский</option>
              <option value="spanish">Español</option>
              <option value="other"><%= t 'shared.other' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.has_manager"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.has_manager_true' %>', v: true }, { n: '<%= t 'shared.has_manager_false' %>', v: false }]">
              <option value=""><%= t 'shared.has_manager' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.received_registration_mail"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
              <option value=""><%= t 'shared.finished_registration' %></option>
            </select>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="search.is_org">
              <%= t 'shared.is_org' %>
            </label>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="search.in_future">
              <%= t 'shared.in_future' %>
            </label>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="search.has_invites">
              <%= t 'shared.has_invites' %>
            </label>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="search.is_red">
              <%= t 'shared.witness_contacted_red' %>
            </label>
          </div>

          <div class="form-group pull-left">
            <input type="text" class="form-control" ng-model="query.host" placeholder="<%= t 'shared.free_search' %>" />
          </div>
        </form>


        <div class="margin-top-10">
          <span>סה"כ מארחים:</span> <span class="total-summary">{{ salons.length }}</span>
        </div>

        <!-- Host table -->
        <table class="table host-table">
          <thead>
          <tr>
            <th ng-click="setSortProp('user.id')">
              <%= t 'shared.id' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'user.id'"></span>
            </th>
            <th ng-click="setSortProp('user.full_name')">
              <%= t 'shared.name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'user.full_name'"></span>
            </th>
            <th>
              <%= t 'shared.phone' %>
            </th>
            <th ng-click="setSortProp('city')">
              <%= t 'shared.city' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'city'"></span>
            </th>
            <th ng-click="setSortProp('event_date')">
              <%= t 'shared.evening_date' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'event_date'"></span>
            </th>
            <th ng-click="setSortProp('org_name')">
              <%= t 'shared.org_name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'org_name'"></span>
            </th>
            <th ng-click="setSortProp('hosted_before')">
              <%= t 'shared.hosted_before' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'hosted_before'"></span>
            </th>
            <th ng-click="setSortProp('contacted')">
              <%= t 'shared.host_contacted' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'contacted'"></span>
            </th>
            <th ng-click="setSortProp('contacted_witness')">
              <%= t 'shared.witness_contacted' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'contacted_witness'"></span>
            </th>
            <th ng-click="setSortProp('survivor_needed')">
              <%= t 'shared.survivor_needed' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'survivor_needed'"></span>
            </th>
            <th>
              <%= t 'shared.has_survivor' %>
            </th>
            <th ng-click="setSortProp('assignment_time')">
              <%= t 'shared.assignment_time' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'assignment_time'"></span>
            </th>
            <th><%= t 'shared.manager' %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="host in salons" ng-click="editHost(host)"
              ng-class="{true: 'hasnt-contacted'}[contactWitnessDue(host)]">
            <td>{{ host.user.id }}</td>
            <td>{{ host.user.full_name }}</td>
            <td>{{ host.user.phone }}</td>
            <td>{{ host.country_region_city.city_name_he }}</td>
            <td>{{ host.event_date }}</td>
            <td>{{ host.org_name }}</td>
            <td>{{ formatBool(!host.hosted_before) }}</td>
            <td>{{ formatBool(host.contacted) }}</td>
            <td>{{ formatBool(host.contacted_witness) }}</td>
            <td>{{ formatBool(host.survivor_needed) }}</td>
            <td>{{ formatBool(host.witness_id) }}</td>
            <td>{{ formatDateTime(host.assignment_time) }}</td>
            <td>
              <div manager-link obj="host"></div>
            </td>
            <td>
              <button ng-click="assignHost(host)" class="btn btn-warning">
                <%= t 'shared.assign' %>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <uib-pagination total-items="totalHosts"
                        ng-model="pagination.currentPage"
                        items-per-page="20"
                        ng-change="pageChanged()"
                        class="pagination-sm"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;">
        </uib-pagination>
      </div>
    </div>
    <!-- End of host view -->

    <div class="col-xs-12" ng-if="!success">
    </div>
  </div> 
</div>

<script type="text/ng-template" id="assign-modal.html">
  <%= render 'witnesses/assign_modal' %>
</script>