<%= form_with(model: country_region_city, local: true) do |form| %>
  <% if country_region_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country_region_city.errors.count, "error") %> prohibited this country_region_city from being saved:</h2>

      <ul>
      <% country_region_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country_name %>
    <%= form.text_field :country_name %>
  </div>

  <div class="field">
    <%= form.label :country_iso %>
    <%= form.text_field :country_iso %>
  </div>

  <div class="field">
    <%= form.label :country_printable_name %>
    <%= form.text_field :country_printable_name %>
  </div>

  <div class="field">
    <%= form.label :country_iso3 %>
    <%= form.text_field :country_iso3 %>
  </div>

  <div class="field">
    <%= form.label :country_numcode %>
    <%= form.number_field :country_numcode %>
  </div>

  <div class="field">
    <%= form.label :region_name %>
    <%= form.text_field :region_name %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.number_field :region_id %>
  </div>

  <div class="field">
    <%= form.label :city_name_en %>
    <%= form.text_field :city_name_en %>
  </div>

  <div class="field">
    <%= form.label :city_name_he %>
    <%= form.text_field :city_name_he %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
