<p id="notice"><%= notice %></p>

<p>
  <strong>Country name:</strong>
  <%= @country_region_city.country_name %>
</p>

<p>
  <strong>Country iso:</strong>
  <%= @country_region_city.country_iso %>
</p>

<p>
  <strong>Country printable name:</strong>
  <%= @country_region_city.country_printable_name %>
</p>

<p>
  <strong>Country iso3:</strong>
  <%= @country_region_city.country_iso3 %>
</p>

<p>
  <strong>Country numcode:</strong>
  <%= @country_region_city.country_numcode %>
</p>

<p>
  <strong>Region name:</strong>
  <%= @country_region_city.region_name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @country_region_city.region_id %>
</p>

<p>
  <strong>City name en:</strong>
  <%= @country_region_city.city_name_en %>
</p>

<p>
  <strong>City name he:</strong>
  <%= @country_region_city.city_name_he %>
</p>

<%= link_to 'Edit', edit_country_region_city_path(@country_region_city) %> |
<%= link_to 'Back', country_region_cities_path %>
