<p id="notice"><%= notice %></p>

<h1>User Salons</h1>

<table>
  <thead>
    <tr>
      <th>Guset amonut</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_salons.each do |user_salon| %>
      <tr>
        <td><%= user_salon.guest_amount %></td>
        <td><%= link_to 'Show', user_salon %></td>
        <td><%= link_to 'Edit', edit_user_salon_path(user_salon) %></td>
        <td><%= link_to 'Destroy', user_salon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Salon', new_user_salon_path %>
